dearpygui
dearpygui_ext
gspread==6.2.1
gspread_dataframe==4.0.0
joblib==1.5.3
matplotlib==3.10.9
num2words==0.5.14
numpy==2.4.6
pandas==2.2.3
pandas-ta
playwright==1.52.0
protobuf==7.35.0
pyarrow==23.0.1
pydantic==2.13.4
python-dotenv==1.2.2
pyzmq==27.1.0
quantstats
Requests==2.34.2
screeninfo==0.8.1
textual
textual-dev
textual_pandas==0.2.3
textual_plotext
tqdm==4.67.1
websockets==15.0.1
