dearpygui==2.1.0
dearpygui_ext==2.0.0
gspread==6.2.1
gspread_dataframe==4.0.0
joblib==1.5.3
matplotlib==3.10.9
num2words==0.5.14
numpy==2.4.6
pandas==3.0.3
pandas_ta==0.4.71b0
playwright==1.52.0
protobuf==7.35.0
pyarrow==23.0.1
pydantic==2.13.4
python-dotenv==1.2.2
pyzmq==27.1.0
quantstats==0.0.81
Requests==2.34.2
screeninfo==0.8.1
textual==8.2.7
textual_pandas==0.2.3
textual_plotext==1.0.1
tqdm==4.67.1
websockets==15.0.1
