dearpygui==2.1.0
dearpygui_ext==2.0.0
gspread==6.2.1
gspread_dataframe==4.0.0
matplotlib==3.10.8
num2words==0.5.14
numpy==2.4.4
pandas==3.0.1
pandas_ta==0.4.71b0
playwright==1.52.0
protobuf==7.34.1
pyarrow==23.0.1
python-dotenv==1.2.2
quantstats==0.0.81
Requests==2.33.0
screeninfo==0.8.1
tqdm==4.67.1
websockets==15.0.1
pandas-ta
ta-lib
joblib
