TabPane {
    height: 1fr;
    width: 1fr;
    padding: 0;
}

.dashboards{
    height: 100%;
    width: 100%;
    layout: grid;
    grid-size: 2 3;
    grid-rows: 3fr 2fr 1fr;
    grid-columns: 3fr 1fr;
    overflow: auto auto;
    scrollbar-gutter: auto;
}

#Analysis {
    layout: grid;
    grid-size: 1 2;
    grid-rows: 1fr 1fr;
    grid-columns: 1fr;
}

#recent-trades {
    height: 1fr;
    border: round cyan;
}

Footer,Header {
    background: black; 
}

#order_pane,#position_pane ,#funds_pane {
    background: black;
    border: round white;
    height: 100%;
    border-title-align: right;
    text-align: right;
    padding: 1;
}

.data_containers {
    row-span: 2;
    border: round cyan;
    background: black; 
    height: 100%;
    
    /* ADDED GRID LAYOUT */
    layout: grid;
    grid-size: 2 2; /* 2 columns, 2 rows */
    grid-rows: 1fr 1fr; /* Top row and bottom row get equal height */
    grid-columns: 1fr 1fr; /* Left and right get equal width */
}

.spottickplot {
    column-span: 2; /* Stretches across both columns in the top row */
    height: 100%;
    width: 100%;
    border-top: ascii cyan;
    border-title-style: bold;
    border-title-align: center;
    background: black;
}

.calltickplots, .puttickplots {
    height: 100%;
    width: 100%;
    border-top: ascii cyan;    
    border-title-style: bold;
    border-title-align: center;
    background: black;
}

#analysis_console_container,#console_container {
    padding: 0;
    background: black;
    border: round cyan;
    scrollbar-gutter:auto;
}

#analysis_log,#bash_log {
    background: black 0%    ;
    overflow-y:auto;
    scrollbar-gutter:auto;
    height: 1fr;
}

#console_row {
    height: 100%;
    width: 100%;
}

.indicator_plots {
    width: 25%;
    height: 100%;
    border: round cyan;
    background: black;
    border-title-style: bold;
    border-title-align: center;
}

#console_container {
    width: 75%; /* Shrunk from 100% to fit the indicators */
    padding: 0;
    background: black;
    border: round cyan;
    scrollbar-gutter: auto;
}