.balance-box {
    border: solid green;
    height: 5;
    width: 1fr;
    content-align: center middle;
    border-title-align: center;
}

.alert {
    border: solid red;
}

#dashboard {
    height: 7;
    margin-bottom: 1;
    border: round cyan;
    border-title-color: cyan;
}

#data_grid {
    grid-size: 2 2;
    grid-columns: 1fr 1fr;
    grid-rows: 1fr 1fr;
    width: 75%;
    height: 1fr;
}

#division_plot {
    width: 100%;
    height: 100%;
    border: round cyan;
}

#history {
    width: 100%;
    height: 100%;
    border: solid cyan;
    background: $background;
}

#investments {
    width: 100%;
    height: 100%;
    border: solid cyan;
}

#monitor {
    border: round cyan;
    height: 100%;
    width: 100%;
}

#package {
    padding: 0;
    border: round cyan;
    height: 50%;
    width: 100%;
}

#log_container {
    border: round cyan;
    width: 100%;
    height: 50%;
}

#activity_log {
    padding: 1;
    background: black;
    height: 100%;
}

#controls {
    height: 3;
    margin: 1 0;
    layout: horizontal;
}

#amount_input {
    margin-left: 1;
    width: 30;
}

Button {
    margin-left: 1;
    height: 3;
}

#trees_container {
    height: 1fr;
}

.trees {
    background: $background;
}

.tree_buttons {
    border: none;
    height: 1;
}

#data_label, #plot_label {
    margin-top: 1;
}